* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-height: 100%;
  width: 100%;
  background-color: #eeeee4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  color: blue;
}

.container h5 {
  margin-top: 5px;
  color: gray;
}

.container form {
  margin-top: 1rem;
  background-color: white;
  min-width: 500px;
  min-height: 230px;
  border-radius: 8px;
}
.container form .input_field {
  margin-top: 1rem;
  padding: 1rem;
}
.container form label {
  color: gray;
}
.input_field input {
  height: 2rem;
  width: 80%;
  text-align: center;
  border-radius: 4px;
  border-style: outset;
}
.container p {
  margin-top: 2rem;
}
.container p bold {
  color: blue;
}
